<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>collectionProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A1BCB051CB59BD500E91463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1BCB1E1CB59BD500E91463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1BCB291CB59BD500E91463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
