<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lab 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AC1D2E81C77E4EA00C3642C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC1D3011C77E4EA00C3642C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC1D30C1C77E4EA00C3642C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
